<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title [hidden]="showSearchBar">Proveedores</ion-title>
      <ion-searchbar
          animated
          *ngIf="showSearchBar"
          placeholder="Buscar proveedor"
          showCancelButton="always"          
          [(ngModel)]="searchInput"
          (ionCancel)="onCancelSearch()">
      </ion-searchbar>
      <ion-buttons slot="end">
        <ion-button (click)="showSearchBar=!showSearchBar"> 
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button (click)="setFilters()">
          <span *ngIf="ios">Filtros</span>
          <span *ngIf="!ios">
            <ion-icon slot="icon-only" name="options"></ion-icon>
          </span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>  

<ion-content>
  <ion-list>
    <ion-list-header [hidden]="(suppliers | suppliersTextFilter:searchInput).length  > 0">
        No se encontraron proveedores.
    </ion-list-header>
    <ion-item button *ngFor="let supplier of suppliers | suppliersTextFilter:searchInput" (click)="editSupplier(supplier)">
      <ion-label>
          <h2><b>{{supplier.name}}</b></h2>
          <p><b>CUIT: </b> {{supplier.cuit}}</p>
          <p><b>Teléfono: </b> {{supplier.phone}}</p>
          <p><b>Email: </b> {{supplier.email}}</p>
          <p><b>Dirección: </b> {{supplier.address}}</p>
      </ion-label>
      <ion-icon 
          name="radio-button-on"
          [color]="supplier.active ? 'success' : 'danger'">
      </ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addSupplier()">
      <ion-icon name="add"></ion-icon>    
    </ion-fab-button>
  </ion-fab>
</ion-content>
