ion-content {
    --background: #fff url('../../assets/img/bg.jpg') no-repeat center center / cover;
}

ion-card {
    --background: white;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}
