<ion-header>
    <ion-toolbar>
      <ion-title>
        Distribuidora
        <small>DACS 2019</small>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
  
      <img src="../../assets/img/logo.png" alt="" class="logo">
  
      <ion-card>
          <ion-card-content>
              <form class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)" (keyup.enter)="tryLogin(validations_form.value)">
                  <ion-item>
                    <ion-label position="floating" color="primary">Correo electrónico</ion-label>
                    <ion-input type="text" formControlName="email"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email">
                      <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                  <ion-item>
                    <ion-label position="floating" color="primary">Contraseña</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                      <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                  <ion-button class="submit-btn" expand="block" type="submit" 
                    [disabled]="!validations_form.valid || loading">
                    {{ loading ? 'Ingresando...' : 'Ingresar' }}
                  </ion-button>
                 
                  <label class="error-message">{{errorMessage}}</label>
                </form>
          </ion-card-content>
        </ion-card>
  </ion-content>
  
  