<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Existencias críticas</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-button expand="block" (click)="suggestPath()">
        Sugerir recorrido
    </ion-button>
    <ion-card *ngIf="suggestedPathList">
      <ion-list>
        <ion-item *ngFor="let zone of suggestedPathList">
            <ion-label>
                <h2><b>{{ zone.getDescription() }}</b></h2>
                <div *ngIf="zone.getCriticalStock().length > 0">
                    <ion-label color="danger"><p>Productos con stock crítico:</p></ion-label>
                    <p *ngFor="let stockElement of zone.getCriticalStock()">
                      {{ stockElement ? stockElement.product.getDescription() : '' }}
                    </p>
                </div>
            </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
</ion-content>
