<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [hidden]="showSearchBar">Solicitudes de Reposición</ion-title>
    <ion-searchbar
        animated
        *ngIf="showSearchBar"
        placeholder="Buscar solicitud"
        showCancelButton="always"          
        [(ngModel)]="searchInput"
        (ionCancel)="onCancelSearch()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar=!showSearchBar"> 
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="setFilters()">
        <span *ngIf="ios">Filtros</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content>
<ion-list>
  <ion-list-header [hidden]="(replenishments | replenishmentsTextFilter: searchInput).length  > 0">
      No se encontraron solicitudes.
  </ion-list-header>
  <ion-item *ngFor="let replenishment of (replenishments | replenishmentsTextFilter: searchInput)" (click)="editReplenishment(replenishment)">
    <ion-label>
        <h2><b>N° {{replenishment.getNumber()}}</b></h2>
        <p><b>Fecha: </b> {{ replenishment.date | date: 'dd/MM/yyyy' }}</p>
        <p><b>Proveedor: </b> {{ replenishment.supplier ? replenishment.supplier.name : '' }} </p>
        <h2>
          <ion-label [color]="replenishment.getStatusColor()">
            <b>{{ replenishment.status }}</b>
          </ion-label>
        </h2>
    </ion-label>
    <ion-icon 
        name="clipboard">
    </ion-icon>
  </ion-item>
</ion-list>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="addReplenishment()">
    <ion-icon name="add"></ion-icon>    
  </ion-fab-button>
</ion-fab>
</ion-content>