<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!replenishment.id">Agregar solicitud</ion-title>
    <ion-title *ngIf="replenishment.id">Modificar solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="replenishment" class="ion-padding">
  <form [formGroup]="replenishmentForm">
      <ion-item *ngIf="replenishment.id">
        <ion-label position="floating">Número</ion-label>
        <ion-input type="text" formControlName="number" [value]="replenishment.getNumber()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-datetime formControlName="date" displayFormat="DD/MM/YYYY" [(ngModel)]="replenishmentDate" (ionChange)="setDate()" cancelText="Cancelar" doneText="Aceptar" required [disabled]="!canBeModified">
         </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Proveedor</ion-label>
        <ion-select [compareWith]="compareWith" formControlName="supplier" [(ngModel)]="replenishment.supplier" interface="popover" placeholder="Seleccionar proveedor" ok-text="Aceptar" cancel-text="Cancelar" [disabled]="!canBeModified">
          <ion-select-option *ngFor="let supplier of suppliers" [value]="supplier">{{supplier.name}}</ion-select-option>
        </ion-select>
      </ion-item>
        <ion-item>
            <ion-label position="floating">Estado</ion-label>
            <ion-select formControlName="status" [(ngModel)]="replenishment.status" interface="popover" placeholder="Seleccionar" ok-text="Aceptar" cancel-text="Cancelar">
              <ion-select-option *ngFor="let status of validStatus" [value]="status">{{status}}</ion-select-option>
            </ion-select>  
      </ion-item>
  </form>
  <ion-card>
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button size="small" (click)="addProduct()" [hidden]="!canBeModified">
        <ion-icon name="add"></ion-icon>    
      </ion-fab-button>
    </ion-fab>
      <ion-list>
          <ion-list-header>
            Productos
          </ion-list-header>
          <ion-item-sliding *ngFor="let element of replenishment.lines; let productIndex = index" [disabled]="!canBeModified">
              <ion-item text-wrap>
                  <p><b>{{ element.product.code }} - {{ element.product.name }}</b></p>
                          <ion-label position="floating">Cantidad</ion-label>
                          <ion-input text-right type="number" [(ngModel)]="element.quantity" [disabled]="!canBeModified"></ion-input>
              </ion-item>            
              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="removeProduct(productIndex)">
                  <ion-icon name="trash"></ion-icon>
                  Eliminar
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item *ngIf="addedProduct">
                  <ion-select [(ngModel)]="addedProduct.product" interface="popover" placeholder="Seleccionar producto">
                    <ion-select-option *ngFor="let product of getProductsToAdd()" [value]="product">
                        {{ product.code }} - {{ product.name }}  
                    </ion-select-option>
                  </ion-select>
                          <ion-label position="floating">Cantidad</ion-label>
                          <ion-input text-right type="number" [(ngModel)]="addedProduct.quantity" ></ion-input>
                  <ion-button (click)="addProductToList()" strong>Agregar</ion-button>
            </ion-item>
      </ion-list>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-button (click)="onAccept()" expand="block">Aceptar</ion-button>
      <ion-button (click)="onCancel()" color="light" expand="block">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>