<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [hidden]="showSearchBar">Zonas</ion-title>
    <ion-searchbar
        animated
        *ngIf="showSearchBar"
        placeholder="Buscar zona"
        showCancelButton="always"          
        [(ngModel)]="searchInput"
        (ionCancel)="onCancelSearch()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar=!showSearchBar"> 
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content>
<ion-button expand="block" (click)="updateStock()">Registrar existencia de productos</ion-button>
<ion-list>
  <ion-list-header [hidden]="(zones| zonesTextFilter:searchInput).length> 0">
      No se encontraron zonas.
  </ion-list-header>
  <ion-item [color]="zone.selected ? 'secondary' : ''" button  *ngFor="let zone of zones | zonesTextFilter:searchInput" (click)="select(zone)">
    <ion-label>
        <h2><b>{{ zone.getDescription() }}</b></h2>
        <p><b>Número de depósito: </b> {{ zone.storeNumber }}</p>
        <p><b>Pasillo: </b> {{zone.corridor}}</p>
        <p><b>Ubicación: </b> {{ zone.side == 'R' ? 'Derecha' : 'Izquierda'}}</p>
        <p><b>Gabinete: </b> {{zone.cabinet}}</p>
        <p><b>Estante: </b> {{zone.shelf}}</p>
    </ion-label>
    <ion-icon 
        name="pin">
    </ion-icon>
  </ion-item>
</ion-list>
</ion-content>
