<ion-app [class.dark-theme]="dark">
  <ion-split-pane>
      <ion-menu [hidden]="user == null">
          <ion-header>
            <ion-toolbar>
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
              <ion-list>
                  <ion-menu-toggle autoHide="false">
                    <ion-item [routerLink]="['/suppliers']" routerLinkActive="active" routerDirection="root">
                      <ion-icon slot="start" name="person"></ion-icon>
                      <ion-label>
                        Proveedores
                      </ion-label>
                    </ion-item>
                    <ion-item [routerLink]="['/products']" routerLinkActive="active" routerDirection="root">
                      <ion-icon slot="start" name="list-box"></ion-icon>
                      <ion-label>
                        Productos
                      </ion-label>
                    </ion-item>
                    <ion-item [routerLink]="['/zones']" routerLinkActive="active" routerDirection="root">
                      <ion-icon slot="start" name="map"></ion-icon>
                      <ion-label>
                        Zonas
                      </ion-label>
                    </ion-item>                 
                    <ion-item [routerLink]="['/stock']" routerLinkActive="active" routerDirection="root">
                      <ion-icon slot="start" name="clipboard"></ion-icon>
                      <ion-label>
                        Registrar existencias
                      </ion-label>
                    </ion-item>            
                    <ion-item [routerLink]="['/suggest-path']" routerLinkActive="active" routerDirection="root">
                      <ion-icon slot="start" name="alert"></ion-icon>
                      <ion-label>
                        Existencias críticas
                      </ion-label>
                    </ion-item>
                    <ion-item [routerLink]="['/replenishments']" routerLinkActive="active" routerDirection="root">
                      <ion-icon slot="start" name="md-calendar"></ion-icon>
                      <ion-label>
                        Solictudes de reposición
                      </ion-label>
                    </ion-item>                    
                    <ion-item>
                      <ion-label>
                        Modo oscuro
                      </ion-label>
                      <ion-toggle [(ngModel)]="dark" (ionChange)="toggleDarkMode()"></ion-toggle>
                    </ion-item>
                    <ion-item (click)="logout()" [routerLink]="['/home']">
                      <ion-icon slot="start" name="power"></ion-icon>
                      <ion-label>
                        Cerrar sesión
                      </ion-label>
                    </ion-item>      
                  </ion-menu-toggle>
                </ion-list>
          </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
