<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar existencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-button expand="block" (click)="scanProduct()">
      <ion-icon slot="start" name="barcode"></ion-icon>
        Escanear código de barras
    </ion-button>
    <ion-card *ngIf="product" class="ion-text-center">
      <ion-card-header>
        <ion-card-title>{{ product.code }} - {{ product.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="product.image" />
        <ion-item>
          <ion-label>Zona</ion-label>
          <ion-select [compareWith]="compareWith" [(ngModel)]="zone" interface="popover" (ionChange)="refreshStock()">
            <ion-select-option *ngFor="let zone of zones" [value]="zone">
              {{ zone.getDescription() }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input text-right type="number" [(ngModel)]="quantity"></ion-input>
        </ion-item>
      </ion-card-content>  
      <ion-button color="medium" size="small" (click)="saveAndContinue()">Guardar y continuar</ion-button>
    </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
          <ion-button (click)="onCancel()" color="light" expand="block">Cancelar</ion-button>
      </ion-col>
      <ion-col>
          <ion-button (click)="onAccept()" expand="block">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>