<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>

    <ion-title>Asociar proveedores</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="accept()" strong>Aceptar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
      <ion-item-sliding *ngFor="let element of product.suppliers; let supplierIndex = index">
          <ion-item text-wrap>
              <p><b>{{ element.supplier.name }}</b></p>
              <ion-row>
                  <ion-col size="6">
                      <ion-label position="floating">Precio de costo ($)</ion-label>
                      <ion-input text-right type="number" [(ngModel)]="element.costPrice"></ion-input>
                  </ion-col>
                  <ion-col size="6">
                      <ion-label position="floating">Precio de venta ($)</ion-label>
                      <ion-input text-right type="number" [(ngModel)]="element.listPrice"></ion-input>
                  </ion-col>
               </ion-row>   
          </ion-item>            
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="remove(supplierIndex)">
              <ion-icon name="trash"></ion-icon>
              Eliminar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item *ngIf="addedSupplier">
              <ion-select [(ngModel)]="addedSupplier.supplier" interface="alert" [interfaceOptions]="interfaceOptions" placeholder="Seleccionar proveedor">
                <ion-select-option *ngFor="let supplier of getSuppliersToAdd()" [value]="supplier">
                    {{ supplier.name }}
                </ion-select-option>
              </ion-select>
              <ion-row>
                  <ion-col size="6">
                      <ion-label position="floating">Precio de costo ($)</ion-label>
                      <ion-input text-right type="number" [(ngModel)]="addedSupplier.costPrice"></ion-input>
                  </ion-col>
                  <ion-col size="6">
                      <ion-label position="floating">Precio de venta ($)</ion-label>
                      <ion-input text-right type="number" [(ngModel)]="addedSupplier.listPrice"></ion-input>
                  </ion-col>
              </ion-row>   
              <ion-button (click)="addSupplierToList()" strong>Agregar</ion-button>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button size="small" (click)="add()">
        <ion-icon name="add"></ion-icon>    
      </ion-fab-button>
    </ion-fab>
</ion-content>
