<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancelar</ion-button>
      <ion-button *ngIf="!ios" (click)="resetFilters()">Limpiar</ion-button>
    </ion-buttons>

    <ion-title>Filtros</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Aceptar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item> 
      <ion-label>Estado</ion-label>
      <ion-select [(ngModel)]="filterData.status" multiple="true" interface="popover" placeholder="Todos">
        <ion-select-option value="PENDIENTE">Pendiente</ion-select-option>
        <ion-select-option value="EMITIDA">Emitida</ion-select-option>
        <ion-select-option value="APROBADA">Aprobada</ion-select-option>
        <ion-select-option value="RECHAZADA">Rechazada</ion-select-option>
        <ion-select-option value="EN CURSO">En curso</ion-select-option>
        <ion-select-option value="ANULADA">Anulada</ion-select-option>
      </ion-select>
    </ion-item>
      <ion-item>
        <ion-label>Productos</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="filterData.products" multiple="true" ok-text="Aceptar" cancel-text="Cancelar">
          <ion-select-option *ngFor="let product of products" [value]="product">
            {{ product.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Proveedor</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="filterData.suppliers" multiple="true" ok-text="Aceptar" cancel-text="Cancelar">
          <ion-select-option *ngFor="let supplier of suppliers" [value]="supplier">
            {{ supplier.name }}  
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha desde</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Aceptar" [(ngModel)]="filterData.dateFrom" ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Fecha hasta</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Aceptar" [(ngModel)]="filterData.dateTo" ></ion-datetime>
      </ion-item>
  </ion-list>
</ion-content>

<ion-footer translucent *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="resetFilters()">
      <ion-button>Limpiar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>