<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!supplier.id">Agregar proveedor</ion-title>
    <ion-title *ngIf="supplier.id">Modificar proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="supplier" class="ion-padding">
  <form [formGroup]="supplierForm">
      <ion-item>
          <ion-label position="floating">CUIT</ion-label>
          <ion-input type="text" mask="00-00000000-0" [dropSpecialCharacters]="false" max-length="13" formControlName="cuit" [(ngModel)]="supplier.cuit" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" [(ngModel)]="supplier.name" required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input formControlName="phone" mask="(000) 0000-00000000" type="text" maxlength="19" [(ngModel)]="supplier.phone"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input formControlName="address" type="text" [(ngModel)]="supplier.address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" [(ngModel)]="supplier.email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Activo</ion-label>
          <ion-toggle formControlName="active" [(ngModel)]="supplier.active"></ion-toggle>
    </ion-item>
  </form>
  <ion-card>
      <ion-fab vertical="top" horizontal="end">
        <ion-fab-button size="small" (click)="addProduct()">
          <ion-icon name="add"></ion-icon>    
        </ion-fab-button>
      </ion-fab>
        <ion-list>
            <ion-list-header>
              Productos
            </ion-list-header>
            <ion-item-sliding *ngFor="let element of supplier.products; let productIndex = index">
                <ion-item text-wrap>
                    <p><b>{{ element.product.code }} - {{ element.product.name }}</b></p>
                    <ion-row>
                        <ion-col size="6">
                            <ion-label position="floating">Precio de costo ($)</ion-label>
                            <ion-input text-right type="number" [(ngModel)]="element.costPrice"></ion-input>
                        </ion-col>
                        <ion-col size="6">
                            <ion-label position="floating">Precio de venta ($)</ion-label>
                            <ion-input text-right type="number" [(ngModel)]="element.listPrice"></ion-input>
                        </ion-col>
                     </ion-row>   
                </ion-item>            
                <ion-item-options side="end">
                  <ion-item-option color="danger" (click)="removeProduct(productIndex)">
                    <ion-icon name="trash"></ion-icon>
                    Eliminar
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item *ngIf="addedProduct">
                    <ion-select [(ngModel)]="addedProduct.product" interface="alert" [interfaceOptions]="interfaceOptions" placeholder="Seleccionar producto">
                      <ion-select-option *ngFor="let product of getProductsToAdd()" [value]="product">
                          {{ product.code }} - {{ product.name }}  
                      </ion-select-option>
                    </ion-select>
                    <ion-row>
                        <ion-col size="6">
                            <ion-label position="floating">Precio de costo ($)</ion-label>
                            <ion-input text-right type="number" [(ngModel)]="addedProduct.costPrice"></ion-input>
                        </ion-col>
                        <ion-col size="6">
                            <ion-label position="floating">Precio de venta ($)</ion-label>
                            <ion-input text-right type="number" [(ngModel)]="addedProduct.listPrice"></ion-input>
                        </ion-col>
                    </ion-row>   
                    <ion-button (click)="addProductToList()" strong>Agregar</ion-button>
              </ion-item>
        </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
            <ion-button (click)="onCancel()" color="light" expand="block">Cancelar</ion-button>
        </ion-col>
        <ion-col>
            <ion-button (click)="onAccept()" expand="block">Aceptar</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>