<ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button *ngIf="ios" (click)="dismiss()">Cancelar</ion-button>
        <ion-button *ngIf="!ios" (click)="resetFilters()">Limpiar</ion-button>
      </ion-buttons>
  
      <ion-title>Filtros</ion-title>
  
      <ion-buttons slot="end">
        <ion-button (click)="applyFilters()" strong>Aceptar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item> 
        <ion-label>Estado</ion-label>
        <ion-select [(ngModel)]="statusSelect" interface="popover" placeholder="Seleccionar estado">
          <ion-select-option value="all">Todos</ion-select-option>
          <ion-select-option value="active">Activo</ion-select-option>
          <ion-select-option value="inactive">Inactivo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer translucent *ngIf="ios">
    <ion-toolbar>
      <ion-buttons slot="start" (click)="resetFilters()">
        <ion-button>Limpiar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>