<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancelar</ion-button>
      <ion-button *ngIf="!ios" (click)="resetFilters()">Limpiar</ion-button>
    </ion-buttons>

    <ion-title>Filtros</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Aceptar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
      <ion-item>
        <ion-label>Zona</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="filterData.zones" multiple="true" ok-text="Aceptar" cancel-text="Cancelar">
          <ion-select-option *ngFor="let zone of zones" [value]="zone">
            {{ zone.getDescription() }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Proveedor</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="filterData.suppliers" multiple="true" ok-text="Aceptar" cancel-text="Cancelar">
          <ion-select-option *ngFor="let supplier of suppliers" [value]="supplier">
            {{ supplier.name }}  
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Stock actual</ion-label>
        <ion-range min="0" max="500" [(ngModel)]="filterData.stockRange" pin dual-knobs step="10" color="secondary">
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">500</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Precio</ion-label>
        <ion-range min="0" max="10000" [(ngModel)]="filterData.priceRange" pin dual-knobs step="10" color="secondary">
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">10000</ion-label>
        </ion-range>
      </ion-item>
  </ion-list>
</ion-content>

<ion-footer translucent *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="resetFilters()">
      <ion-button>Limpiar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>