<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [hidden]="showSearchBar">Productos</ion-title>
    <ion-searchbar
        animated
        *ngIf="showSearchBar"
        placeholder="Buscar producto"
        showCancelButton="always"          
        [(ngModel)]="searchInput"
        (ionCancel)="onCancelSearch()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar=!showSearchBar"> 
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="setFilters()">
        <span *ngIf="ios">Filtros</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content>
<ion-button expand="block" (click)="associateToSupplier()">Asociar a proveedor</ion-button>
<ion-list>
  <ion-list-header [hidden]="(products | productsTextFilter:searchInput).length  > 0">
      No se encontraron productos.
  </ion-list-header>
  <ion-item [color]="product.selected ? 'secondary' : ''" button *ngFor="let product of products | productsTextFilter:searchInput" (click)="select(product)">
    <ion-thumbnail slot="start">
        <ion-img [src]="product.image"></ion-img>
    </ion-thumbnail>
    <ion-label>
        <h2><b>{{product.code}} - {{product.name}}</b></h2>
        <p>{{product.description}}</p>
        <ion-label [color]="product.getStockTotal() <= product.minimalStock ? 'danger' : 'success'">
          <p><b>Stock actual: </b> {{product.getStockTotal()}}</p>
        </ion-label>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
